{% extends "base.html" %}

{% block title %}
    <title>หน้าฟอร์มแก้ไข้ข้อมูล</title>
{% endblock %}

{% block content %}
  <h1 style="color: aqua;"></h1>
  <form method="post" action="" >
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">NAME</label>
    <input type="text" name="name" value="{{person.name}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">AGE</label>
    <input type="number" name="age" value="{{person.age}}" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}   